<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All Chats</h3>
    <form method="get" action="/chats/new" >
        <button>New Chat</button>
    </form>
    <br>

    <% for(let chat of chats ) { %>
        <div class="chat">
            <p class="pfrom">From : <%= chat.from %> </p>
            <div class="msg">
                <p class="pchat">   <%= chat.msg %> </p>
                <hr>
                <div class="form-div">
                <form method="GET" action="/chats/<%=chat._id%>/edit">
                    <button>Edit</button>
                </form>
                <hr>
                <form method="POST" action="/chats/<%=chat._id%>?_method=DELETE">
                    <button>Delete</button>
                </form>
            </div>
                
            </div>
            <div class="info-div">
                <p>Recieved by: <%= chat.to %> </p>
            <hr>
            <p> <%= chat.created_at.toString().split(" ")[4] %> </p><hr>
            <p> <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %> </p>
            </div>
            
        </div>
       
       <br />  <br />

   <% }%>
</body>
</html>